.overflow-box {
  line-height: 1em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  min-width: 160px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;

  &_two-lines {
    max-height: 3em;
    -webkit-line-clamp: 3;
  }
}

.pre-wrap {
  white-space: pre-wrap;
}

.m-w-100 {
  min-width: 100px;
}

.withRefA {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.text-crop3 {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  white-space: nowrap;
  display:inline-block;
}