input {
  margin: 0;
}

.text-danger {
  color: #f4516c !important
}

.form-control {
  font-family: sans-serif, Arial;
  border-radius: .25rem;
  display: block;
  width: 100%;
  height: calc(2.95rem + 5px);
  padding: .85rem 1.15rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.m-form__help {
  font-weight: 300;
  font-size: .85rem;
  padding-top: 7px
}

span.m-form__help {
  display: inline-block
}